{% extends 'base.html' %}
{% load static %}
{% block title %}
<link rel="stylesheet" href="{% static 'books/styles.css' %}">
<title>Home</title>
{% endblock title %}

{% block body %}
<div class="main">
  <div class="card" style="width: 18rem;">
    <img src="media/book/images/default.jpg" class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h5 class="card-title">Add New Book</h5>
      <p class="card-text">New Books that aren't available in library</p>
      <a href="{% url 'book_create' %}" class="btn btn-primary btn-lg">Add Book</a>
    </div>
  </div>

  {% for book in books %}

  <div class="card" style="width: 18rem;">
    <img src="media/{{book.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{book.title}}</h5>
      <p class="card-text">{{book.description}}</p>
      <a href="{% url 'book_update' book.id %}" class="btn btn-primary">Update</a>
      <a href="{% url 'book_delete' book.id %}" class="btn btn-primary">Delete</a>
    </div>
  </div>

  {% endfor %}
</div>

{% endblock body %}